body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  outline: none;
}

/* 
==========================
        HOMEPAGE
==========================
 */
#homepage #hero {
  /* background-image: url("../Components/Images/banner-bg.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  color: #FFFFFF;
  padding: 10px;
}

#homepage #hero .menubar .spanLeft img {
  width: 50px;
}

#homepage #hero .menubar .spanRight button {
  background-color: transparent;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  margin: 0;
}

#homepage #hero .menubar .spanRight .sign button {
  background-color: #FFFFFF;
  color: #160526;
}

#homepage #hero .hero .heroWords {
  margin: 3.5em 0;
  width: 90%;
}

#homepage #hero .hero .heroWords h1 {
  font-size: 20px;
}

#homepage #hero .hero .heroWords p {
  font-size: 13px;
}

#homepage #hero .hero .heroWords button {
  background-color: #c6610f;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
}

#homepage #hero .hero .heroImg {
  width: 90%;
  margin: auto;
  text-align: center;
}

#homepage #hero .hero .heroImg img {
  width: 90%;
}

#homepage #team {
  margin: 2em 0;
  padding: 10px;
}

#homepage #team .teamImg {
  margin: 2em 0;
  position: relative;
}

#homepage #team .teamImg img {
  width: 90%;
  position: relative;
  z-index: 1;
}

#homepage #team .teamImg .pillar {
  position: absolute;
  z-index: 0;
  top: 0%;
  left: -3%;
}

#homepage #plan img {
  display: block;
  position: absolute;
  z-index: 0;
  top: -5%;
  right: 0%;
  width: 80%;
}

#homepage #team .teamWords h1 {
  margin: 3px;
}

#homepage #team .teamWords hr {
  display: block;
  height: 5px;
  width: 250px;
  background-color: #c6610f;
  border: none;
  margin: 0;
}

#homepage #team .teamWords p {
  font-size: 16px;
  font-weight: 500;
}

#homepage #team .teamWords button {
  background-color: #c6610f;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
}

#homepage #workflow {
  margin: 2em 0;
  padding: 10px;
}

#homepage #workflow .workflow .flowList {
  width: 100%;
}

#homepage #workflow .workflow .flowList figure {
  display: inline-block;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  position: relative;
  padding: 2em 0em;
  box-shadow: 2px 2px 3px 2px #d8ccd8;
  vertical-align: top;
}

#homepage #workflow .workflow .flowList figure h1 {
  font-size: 100px;
  color: #fdefe9e3;
  font-weight: 900;
  margin: 3px;
  position: absolute;
  top: 0%;
  left: 11%;
  z-index: 0;
}

#homepage #workflow .workflow .flowList figure img {
  position: relative;
  z-index: 1;
}

#homepage #info {
  margin: 2em 0;
  padding: 10px;
}

#homepage #info .infoImg {
  margin: 2em 0;
  position: relative;
}

#homepage #info .infoImg img {
  width: 90%;
}

#homepage #info .infoWords h1 {
  margin: 3px;
}

#homepage #info .infoWords hr {
  display: block;
  height: 5px;
  width: 290px;
  background-color: #c6610f;
  border: none;
  margin: 0;
}

#homepage #info .infoWords p {
  font-size: 16px;
  font-weight: 500;
}

#plan div {
  position: relative;
}

.plan {
  width: 90%;
  margin: auto;
  text-align: center;
}

#homepage #plan .planWords h1 {
  margin: 3px 0;
}

#homepage #plan .planWords hr {
  display: block;
  height: 5px;
  width: 245px;
  background-color: #c6610f;
  border: none;
  margin: auto;
}

.planWords button {
  background-color: #c6610f;
  width: 200px;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
}

#footer {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

#footer select {
  width: calc(100% - 40px);
  display: block;
  margin: 20px 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f8f8f8;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin: auto;
}

#footer ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

#footer img {
  width: 280px;
}

#footer p {
  padding: 2em 0;
  margin: 0;
  font-size: 14px;
}

.themebtn {
  font-size: 50px;
}

/* 
==========================
        LOGIN
==========================
 */


/* 
=============================
      BOARDS
=============================
 */
.dashboard {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.dashboard div img {
  width: 20px;
}

.dashboard div h3 {
  background-color: #4caf50;
  width: 150px;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  margin-left: 0;
}

#boards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 95%;
  margin: 20px auto 0 auto;
  padding: 0%;
}

#boards .boardlist {
  width: calc(100% - 40px);
  display: block;
  margin: 20px 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f8f8f8;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  height: 70px;
  margin: 0;
  cursor: pointer;
}

#boards .boardlist h2 {
  color: white;
}

#boards .boardlist .deleteBoard {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: transparent;
  color: red;
  font-weight: 900;
}

/* 
=============================
      MODAL
=============================
 */

/* 
============================
      WORKSPACE
============================ 
*/
#workspace {
  position: relative;
  width: 100%;
}

#workspacebar button {
  background-color: #FFFFFFa9;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  margin: 5px;
}

.workspacelist .wk::-webkit-scrollbar {
  background: transparent;
}

.workspacelist {
  position: relative;
  width: 100%;
}

.workspacelist .wk {
  overflow-x: auto;
  scroll-behavior: smooth;
  min-height: 100vh;
  height: 100%;
}

.workspacelist .todoCon {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  padding: 0px;
}

.workspacelist .todo {
  width: 270px;
  height: fit-content;
  margin: 8px;
  padding: 10px;
  background-color: #ececec;
  vertical-align: top;
  cursor: pointer;
  border-radius: 5px;
}

.workspacelist .todo .more {
  float: right;
  border: none;
  font-size: 16px;
  background-color: #ececec;
}

.workspacelist .todo .add .more {
  padding: 5px;
  background-color: #dbdada;
}

.workspacelist .todo .more:hover {
  background-color: #D8D8D8;
}

.workspacelist .todo span {
  display: block;
  font-size: 16px;
  color: gray;
}

.workspacelist .todo .add textarea {
  width: calc(100% - 40px);
  display: block;
  margin: 20px 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f8f8f8;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFF;
  margin: 0 auto;
}

.workspacelist .todo ul {
  width: 95%;
  margin: 20px 0;
}

.workspacelist .todo li {
  width: calc(100% - 40px);
  display: block;
  margin: 20px 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f8f8f8;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFF;
}

.workspacelist .add button {
  background-color: #FFFFFF;
  width: 46px;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  font-size: 16px;
}

.workspacelist .add .addcard {
  background-color: #4caf50;
  width: 100px;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
}

.todo .deleteBoard, .openCard .deleteBoard {
  float: right;
  margin: 1px;
  background-color: transparent;
  color: red;
  font-weight: 900;
  border: none;
  font-size: 10px;
}

.listModal {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1;
}

.listModal .options {
  transform: translate(0%, 25%);
}

.listModal textarea {
  display: block;
  width: 155px;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 18px;
}

.listModal .listContent button, .moveOption button {
  background-color: #4caf50;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  margin: 10px 5px;
}

.moveOption select, .moveOption input {
  width: 36%;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.moveOption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  width: 250px;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  color: gray;
  text-align: center;
}

.openCard {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  top: 40%;
  background-color: #f3f3f3;
  width: 80%;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  color: #5a5a5a;
  text-align: left;
  margin: 0;
  padding: 0;
}

.openCard .heading {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
}

.openCard .description {
  padding: 2em;
}

.openCard .description p {
  background-color: #D8D8D8;
  padding: 10px;
  margin: 0;
  width: 90%;
}

.openCard .description textarea {
  border: 1px solid #1474c0;
  border-radius: 0;
  width: 80%;
}

.openCard .deleteBoard {
  font-size: 18px;
}

.openCard .description button {
  background-color: transparent;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  color: #5a5a5a;
  font-size: 18px;
}

.openCard .description .save {
  background-color: #4caf50;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
}

.listModal .listContent {
  width: fit-content;
}

.listModal .listOption {
  width: fit-content;
}

.listModal .listOption ul {
  width: fit-content;
}

.listModal .listOption ul li {
  padding: 5px 10px;
  margin: 5px;
  background-color: #000000a7;
  color: white;
  border: transparent;
  width: fit-content;
}

.addList input {
  display: block;
  width: calc(100% - 10px);
  padding: 5px;
}

.addList button {
  background-color: #1474c0;
  width: fit-content;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 5px;
  cursor: pointer;
  margin: 5px;
}

@media (min-width: 600px) {
  .plan {
    width: 50%;
  }
  #login {
    background-color: #FFF;
    width: 70%;
    padding: 30px;
    box-shadow: 2px 2px 6px 2px #D8D8D8;
  }
  .themebtn {
    font-size: 60px;
  }
  #menubar {
    height: 70px;
  }
  #menubar div img {
    width: 23px;
  }
  #menubar .second img {
    width: 75%;
  }
  #menubar div .icon {
    margin: 0 7px;
    padding: 10px 15px;
  }
  #menubar div .u {
    font-size: 24px;
    padding: 10px 15px;
  }
  .atlassian, .trelloicon {
    top: 10%;
  }
  #boards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
  }
  #modal .modal {
    width: 70%;
  }
  #modal .background .color, #modal .background span img {
    width: 50px;
    height: 50px;
  }
  .listModal textarea {
    width: 200px;
  }
}

@media (min-width: 768px) {
  #page1 {
    background-image: url("../Components/Images/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #menubar .second img {
    width: 59%;
  }
  #homepage h1 {
    font-size: 25px;
    line-height: 1.3;
  }
  #homepage p, #homepage li {
    font-size: 16px;
    line-height: 1.5;
  }
  .themebtn {
    font-size: 70px;
  }
  .hero, .hinfo, .team {
    position: relative;
    display: grid;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0;
  }
  #homepage #hero .hero .heroImg, #homepage #info .infoImg img {
    width: 100%;
  }
  #homepage #hero .hero .heroImg img {
    width: 380px;
  }
  #homepage #info .infoImg img {
    width: 360px;
    height: 200px;
  }
  .heroWords, .teamImg, .infoWords {
    width: 360px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #homepage #hero .hero .heroWords {
    width: 360px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .heroImg, .teamWords, .infoImg {
    grid-column-start: 7;
    grid-column-end: 12;
  }
  .openCard {
    background-color: #f3f3f3;
    width: 55%;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 20px 5px;
    cursor: pointer;
    color: #5a5a5a;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .openCard .description p {
    background-color: #D8D8D8;
    padding: 10px;
    margin: 0;
    width: 70%;
  }
  .openCard .description textarea {
    border: 1px solid #1474c0;
    border-radius: 0;
    width: 55%;
  }
}

@media (min-width: 1200px) {
  #login {
    width: 40%;
  }
  #menubar .second img {
    width: 40%;
  }
  #boards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0%;
  }
  #modal .modal {
    width: 40%;
  }
  #homepage h1 {
    font-size: 35px;
  }
  #homepage p, #homepage li {
    font-size: 20px;
  }
  .plan {
    width: 42%;
  }
}

@media (min-width: 1280px) {
  #homepage h1 {
    font-size: 45px;
  }
  #homepage p, #homepage li {
    font-size: 25px;
  }
}
/*# sourceMappingURL=App.css.map */


/*

Tooplate 2113 Earth

https://www.tooplate.com/view/2113-earth

*/

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 99999999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #7a7a7a;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}


/* MAIN CSS */

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
#homepage {
  overflow: hidden;
}

.slides {
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  background-size: cover;
}
.slides .hero-bg {
background-image: url('../Components/Images/home-bg.jpg');
display: flex;
align-items: center;
justify-content: center;
}
