$color1 : #4caf50;
$color2 : #1474c0;
$color3 : #FFFFFFa9;
$color4 : rgb(196, 196, 196);
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin grid($col-count,$gap){
  display: grid;
  grid-template-columns: repeat($col-count,1fr);
  gap: $gap;
}
@mixin input {
    width: calc(100% - 40px);
    display: block;
    margin: 20px 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: #f8f8f8;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}
@mixin submit-button($color,$width) {
    background-color: $color;
    width: $width;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 20px 5px;
}
@mixin bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin cover {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background:rgba(0, 0, 0,0.5);
  text-align: center;
  z-index: 1;
}
@mixin  abs-cen {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}
/* 
==========================
        HOMEPAGE
==========================
 */
 #homepage{
  font-family: "Charlie Display",sans-serif;
  font-weight: 500;
 }
 #homepage h1{
  font-size: 30px;
  line-height:1.3 ;
}
#homepage p,#homepage li{
  font-size: 25px;
  line-height:1.5 ;
}
#hero{
  background-color: $color2;
  color: #FFF;
}
#homepage #hero #menubar{
  width: 100%;
  position: fixed;
  top: 0%;
}
#homepage #hero #menubar .logo{
  width: 47%;
}
#homepage #hero #menubar .logo img{
  width: 150px;
}
#homepage #hero #menubar span button{
  @include submit-button($color2,fit-content );
  padding: 10px ;
  font-size: 16px;
}
#homepage #hero #menubar .sign button{
  background-color: #FFF;
  color: $color2;
}
.hero{
  // @include grid(24,0);
  text-align: center;
  margin:0;
  padding: 5em 0;
}

.hero div img{
  width: 90%;
}
.heroWords button{
  @include submit-button($color1,300px);
  font-size:25px;
  padding: 15px;
}
.heroWords{
  width: 95%;
  margin: auto;
  grid-column: 2/12;
  grid-column-start: 2;
  grid-column-end: 12;

}
.heroImg{
  grid-column: 13/span 21;
  grid-column-start: 13;
  grid-column-end: span 21;
}
#hero #menubar img{
  width: 200px;
}
.team{
  @extend .hero;
  // color: black;
}
.teamWords{
  @extend .heroWords;
}
.teamImg{
  @extend .heroImg;
}
.hinfo{
  @extend .team;
}
.infoImg{
  grid-column: 2/span 12;
  grid-column-start: 2;
  grid-column-end: span 12;
}
.infoWords{
  width: 95%;
  margin: auto;
  grid-column: 14/23;
  grid-column-start: 14;
  grid-column-end:  23;
}

.workflow{
  @extend .team;
}
.flowWords{
  @extend .heroWords;
}
.flowImg{
  @extend .heroImg;
}
.plan{
  width: 90%;
  margin: auto;
  text-align: center;
}
.planWords button{
  @include submit-button($color1,200px);
}
#footer{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}
#footer select{
  @include input;
  width:200px;
  margin: auto;
}
#footer ul li{
  display: inline-block;
  margin: 10px;
  padding:10px;
  font-size: 18px;
}
#footer img{
  width: 280px;
}
#footer p{
  padding: 2em 0;
  margin: 0;
  font-size: 14px;
}
/* 
==========================
        LOGIN
==========================
 */
 body{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  a{
      text-decoration: none;
      color: inherit;
  }
  #page1{
    @include flex;
    height: 100vh;
  }
  #login{
    width: 85%;
    margin:30px auto;
    text-align: center;
  }
  #login img{
    width: 180px;
  }
  #login .login input{
    @include input
  }

  #login .login button[type="submit"]{
    @include submit-button($color1,98%)
  }
  #login div span{
    margin:0 6px ;
    color: blue;
    font-size: 13px;
  }
   /* 
=============================
      MENU BAR
=============================
 */
 #menubar{
    background-color: $color2;
    height: 60px;
    @include flex;
    cursor: pointer;
  }
  #menubar .first{
    width:35%;
  }
  #menubar .second{
   width:30%;
    text-align: center;
  }
 #menubar .third{
   width:35%;
   text-align: right;
}
 #menubar div .icon{
    background-color:$color3;
    display: inline-block;
    margin: 0 6px;
    padding: 8px 10px;
    border-radius: 10px;
}
 #menubar div img{
    width: 15px;
}
 #menubar .second img{
    width: 100%;
}
 #menubar div .u{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    font-family: lucida calligraphy;
    padding:6px 13px;
    border-radius: 50%;
  }
  #menubar li{
    cursor: pointer;
    @include input
  }
  .atlassian,.trelloicon{
    position: absolute;
    top: 11%;
    z-index: 1;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  #menubar .third div{
    @extend .atlassian ;
    right: 2%;
  }
  #menubar div ul li:hover{
    background-color: $color4;
  }
  #menubar .first input{
    @include input
  }
/* 
=============================
      BOARDS
=============================
 */
 .dashboard{
  height: 100vh;
 }
 .dashboard div img{
    width: 20px;
  }
 .dashboard div h3{
    @include submit-button($color1,150px);
    margin-left: 0;
  }
  #boards{
    @include grid(2,10px);
    width: 95%;
    margin:20px auto;
    padding: 0%;
  }
  #boards .boardlist {
    @include input;
    @include flex;
    position: relative;
    text-align: center;
    height: 70px;
    margin: 0;
    cursor: pointer;
  }
  #boards .boardlist h2{
    color: white;
  }
  #boards .boardlist .deleteBoard{
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: transparent;
    color: red;
    font-weight: 900;
  }
 /* 
=============================
      MODAL
=============================
 */
 #modal{
  @include cover
}
 #modal .modal{
  width: 85%;
  margin: auto;
  @include abs-cen;
 }
 #modal .modal #img{
   position: relative;
   width: 100%;
   height: 180px;
 }
 #modal .modal .title{
  position: absolute;
  text-align: left;
  top: 5%;
  left: 2%;
}
 #modal .modal .title input{
@include input;
background-color: $color3;
}
 #modal .modal .title select{
   @include submit-button($color3,110px);
   margin:0 5px;
 }
 #modal .modal .title option{
  color: black;
}
#modal .background .color, #modal .background span img{
 display: inline-block;
 margin: 5px;
 width: 40px;
 height: 40px;
 border: 1px solid white;
}
#modal .new button{
  padding: 8px;
  margin: 10px;
  border: none;
}

 /* 
============================
      WORKSPACE
============================ 
*/
#workspacebar button{
  @include submit-button($color3,fit-content);
  margin:5px;
}
.workspacelist::-webkit-scrollbar{
  display: none;
}
.workspacelist{
  width: 100%;
  overflow-x: scroll;
}
.workspacelist .todoCon{
  width: 1199px;
}
.workspacelist .todo{
  width: 300px;
  margin:8px;
  padding: 10px ;
  background-color: #ececec;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.workspacelist .todo b{
  margin: 0 20px;
  color: rgb(63, 63, 63);
}
.workspacelist .todo b:nth-child(2),.workspacelist .todo .add .more{
  float: right;
  padding: 0px 10px 5px 10px;
  font-weight: bold;
}
.workspacelist .todo b:nth-child(2):hover,.workspacelist .todo .add .more:hover{
  background-color: #D8D8D8;
}
.workspacelist .todo span{
  display: block;
  font-size: 16px;
  color: gray;
}
.workspacelist .todo .add textarea{
  @include input;
  background-color: #FFF;
  margin: 0 auto;
}
.workspacelist .todo ul{
  width: 95%;
  margin:20px 0;
}
.workspacelist .todo  li{
  @include input;
  background-color: #FFF;
}
.workspacelist .todo .add button{
  @include submit-button($color4,46px);
  font-size: 16px;
}
.workspacelist .todo .add .addcard{
  @include submit-button($color1,100px);
}
.todo .deleteBoard{
  float: right;
  margin: 1px;
  background-color: transparent;
  color: red;
  font-weight: 900;
  border: none;
  font-size: 10px;
}
.listModal{
  width: 100%;
  overflow-x: hidden;
  @include cover
 }
 .listModal div{
  transform: translate(5%,5%);
 }
 .listModal textarea{
   display: block;
   width: 155px;
   padding: 10px;
   margin: 0 10px;
   border-radius: 5px;
   font-size: 18px;
 }
 .listModal .listContent button, .listModal .moveOption button{
   @include submit-button($color1,fit-content);
   margin: 10px 5px;
}
 .listModal .moveOption select{
   padding: 10px;
   margin:10px;
   font-size: 16px;
 }
 .listModal .moveOption{
   @include abs-cen;
   @include submit-button(white,250px);
   color: gray;
 }
  @media (min-width:600px){
    .plan{
      width: 50%;
    }
    // login
    #login{
      background-color: #FFF;
      width: 60%;
      padding: 30px;
      box-shadow: 2px 2px 6px 2px #D8D8D8;
    }
    // menubar
    #menubar{
        height: 70px;
    }
    #menubar div img{
        width: 23px;
    }
     #menubar .second img{
        width: 75%;
    }
    #menubar div .icon{
        margin: 0 7px;
        padding: 10px 15px;
    }
    #menubar div .u{
        font-size: 24px;
        padding:10px 20px;
    }
    .atlassian,.trelloicon{
        top: 10%;
    }
    #boards{
      @include grid(3,20px);
      padding: 0;
    }
    #modal .modal{
      width: 70%;
     }
    #modal .background .color, #modal .background span img{
      width: 50px;
      height: 50px;
    }
    .listModal textarea{
      width: 200px;
    }
  }
  @media (min-width:768px){
    #page1{
      background-image: url('../Components/Images/login.jpg');
      @include bg-img
    } 
    #menubar .second img{
        width: 59%;
    }
    #homepage #hero #menubar .logo img{
      width: 200px;
    }
    #homepage h1{
      font-size: 30px;
      line-height:1.3 ;
    }
    #homepage p,#homepage li{
      font-size: 20px;
      line-height:1.5 ;
    }
    #homepage #hero #menubar .logo{
      width: 70%;
    }
    .hero{
      width: 100%;
      text-align: left;
      @include grid(24,0);
      margin: 4em 0;
      padding-bottom: 5em;
    }
    .heroWords{
      width: 100%;
    }
    .infoWords{
      width: 100%;
    }
  }
  @media (min-width:1200px){
    #login{
      width: 28%;
    } 
    #menubar .second img{
        width: 40%;
    }
    #boards{
      @include grid(4,20px);
      padding: 0%;
    }
    #modal .modal{
      width: 40%;
     }
     .workspacelist .todoCon{
      width: fit-content;
    }
    #homepage h1{
      font-size: 40px;
    }
    #homepage p,#homepage li{
      font-size: 25px;
    }
    .plan{
      width: 42%;
    }
  }
  @media (min-width:1280px){
    #homepage h1{
      font-size: 60px;
    }
    #homepage p,#homepage li{
      font-size: 30px;
    }
    #homepage #hero #menubar .logo{
      width: 80%;
    }
    #homepage #hero #menubar span button{
      padding: 10px 20px;
      font-size: 25px;
    }
  }